/.buildpath
/.project
/.settings
/.idea/*
/nbproject
/000

/build/bin
/build/buildlang
/build/phingext
/build/tools
/build/templates/release*.json
/build/build.properties

/component/backend/restore.php
/component/backend/restoration.php
/component/cmsupdate.xml
/component/fof
/component/language/backend/en-GB
/component/language/frontend/en-GB
/component/strapper

/plugins/*/language/en-GB
/plugins/system/oneclickaction
/plugins/system/cmsupdateemail/language/en-GB
/plugins/quickicon/cmsupdate/language/en-GB

/release

/RELEASENOTES.html
/DESCRIPTION.html


/documentation/cmsupdate.xml~
/tx.sh
/.tx/
