<?xml version="1.0" encoding="utf-8"?>
<config addfieldpath="/administrator/components/com_cmsupdate/elements">
    <fieldset
            name="sources"
            label="COM_CMSUPDATE_CONFIG_SOURCES_LABEL"
            description="COM_CMSUPDATE_CONFIG_SOURCES_DESC"
            >

        <field
                name="updatesource"
                type="list"
                default="all"
                label="COM_CMSUPDATE_CONFIG_UPDATESOURCE_LABEL"
                description="COM_CMSUPDATE_CONFIG_UPDATESOURCE_DESC"
                >
            <option value="all">COM_CMSUPDATE_CONFIG_UPDATESOURCE_ALL</option>
            <option value="lts">COM_CMSUPDATE_CONFIG_UPDATESOURCE_LTS</option>
            <option value="sts">COM_CMSUPDATE_CONFIG_UPDATESOURCE_STS</option>
            <option value="testing">COM_CMSUPDATE_CONFIG_UPDATESOURCE_TESTING</option>
            <option value="custom">COM_CMSUPDATE_CONFIG_UPDATESOURCE_CUSTOM</option>
        </field>

        <field
                name="customurl"
                type="text"
                default=""
                length="50"
                label="COM_CMSUPDATE_CONFIG_CUSTOMURL_LABEL"
                description="COM_CMSUPDATE_CONFIG_CUSTOMURL_DESC"
        />

        <field
                name="minnotify"
                type="list"
                default="current"
                label="COM_CMSUPDATE_CONFIG_MINNOTIFY_LABEL"
                description="COM_CMSUPDATE_CONFIG_MINNOTIFY_DESC"
                >
            <option value="test">COM_CMSUPDATE_CONFIG_MINNOTIFY_TEST</option>
            <option value="sts">COM_CMSUPDATE_CONFIG_MINNOTIFY_STS</option>
            <option value="lts">COM_CMSUPDATE_CONFIG_MINNOTIFY_LTS</option>
            <option value="current">COM_CMSUPDATE_CONFIG_MINNOTIFY_CURRENT</option>
        </field>

        <field
                name="frequency"
                type="text"
                default="6"
                length="4"
                label="COM_CMSUPDATE_CONFIG_FREQUENCY_LABEL"
                description="COM_CMSUPDATE_CONFIG_FREQUENCY_DESC"
        />

        <field
                name="emailfrequency"
                type="text"
                default="168"
                length="4"
                label="COM_CMSUPDATE_CONFIG_EMAILFREQUENCY_LABEL"
                description="COM_CMSUPDATE_CONFIG_EMAILFREQUENCY_DESC"
        />

        <field
                name="email"
                type="text"
                default=""
                length="60"
                label="COM_CMSUPDATE_CONFIG_EMAIL_LABEL"
                description="COM_CMSUPDATE_CONFIG_EMAIL_DESC"
        />

        <field
                name="backuponupdate"
                type="radio"
                default="1"
                label="COM_CMSUPDATE_CONFIG_BACKUPONUPDATE_LABEL"
                description="COM_CMSUPDATE_CONFIG_BACKUPONUPDATE_DESC"
                class="btn-group"
            >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
            </field>

        <field
                name="backupprofile"
                type="akeebabackupprofiles"
                default="1"
                label="COM_CMSUPDATE_CONFIG_AKEEBABACKUPPROFILE_LABEL"
                description="COM_CMSUPDATE_CONFIG_AKEEBABACKUPPROFILE_DESC"
                />

        <field name="stats_enabled" type="list" default="1" label="CONFIG_USAGESTATS_LABEL" description="CONFIG_USAGESTATS_DESC">
          <option value="0">JNO</option>
          <option value="1">JYES</option>
        </field>

        <field name="updatecache" type="hidden" value="" />

        <field name="lastcheck" type="hidden" value="0" />

        <field name="lastemail" type="hidden" value="0" />

    </fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			component="com_cmsupdate"
			section="component" />
	</fieldset>
</config>
